:root{
    --vermelha: #e50914;
    --preta:#141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px ;
}
header .container img {
    width: 120px;
    margin-left: 10px;
}
header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}
/* filme principal */
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)100%), url("/img/capa.jpg");

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 36px;
    margin-top: 10px;
}
.filme-principal .titulo{
    font-size: 36px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-top: 15%;
}
.filme-principal .container{
    width: 70%;
}
.botao{
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 12px;
    
    padding:15px 30px;
    margin-right: 16px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: var(--preta);
}
.botao i {
    margin-right: 8px;
}
.container {
    margin-left: 30px;
}

.box-filme{
    height: 80%;
    width: 80%;
    display: block;
}